<div id="head_container">
  <h1 id="index head">Book list</h1>
  <strong class="navigation"><%= link_to "Dashboards", admin_root_path %></strong>
</div>

<div class="filter_container">
  <%= form_for books_path, {:method => :get} do %>
      <%= select "book", "category", options_for_select(Category.all.collect{ |c| c.label }, selected: params.dig(:book, :category)), { include_blank: true } %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", { :name => nil, :id => "submit_button" } %>
  <% end %> 
</div>
<ul class="books">
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>